<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{url_for('Home.static', filename='main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <body>
        <div class="flex-container">
            <h1>TSAO Capstone Records System</h1>
            <a href="/logout" method><button type="button" class="btn btn-danger"><div>Log Out</div></button></a> 
        </div>
        <div class="div-login-center">
            <h1>Hi Adminstrator,<br>Welcome to the TSAO Capstone Records System</h1>
            <div style="margin-top:10%" class="flex-container">
                <a href="/capstone/create"><button type="button" class="btn btn-success"><div>Create</div></button></a>
            </div>
        </div>
    </body>
</html>