<html>
    <h1>TSAO Capstone Records System</h1>
    <h1>Login</h1>
    <div>
        <label for="Username">Username:</label>
        <input type="text" id="Username" placeholder="E.g TanKK" required>
    </div>
    <div>
        <label for="Password">Password:</label>
        <input type="text" id="Password" placeholder="E.g password" required>
    </div>
    <div class="button">
        <button class="login">Log In</button>
        <button class="newuser">Create New User</button>
    </div>

</html>